ion-content {
    --background: linear-gradient(to bottom right, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    min-height: 100vh;
    font-family: cursive;
  }
  
  .info {
    position: relative;
    text-align: center;
    color: #ffffff;
    animation: fadeIn 1.5s ease-in-out;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(252, 251, 251);
  }
  
  .info h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  
  .info p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .booking-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgb(252, 251, 251);
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  ion-select, ion-datetime, ion-input {
    width: 100%;
    --padding-start: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgb(252, 251, 251);
  }
  
  .main-button {
    --background: #4db8ff;
    --border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgb(252, 251, 251);
    transition: transform 0.3s ease;
  }
  
  .main-button:hover {
    transform: scale(1.05);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  