  <ion-content class="ion-padding">
    <div class="info">
      <h1>Bienvenido a <span>mundoTEC</span></h1>
      <p>Descubre lo mejor en tecnología, servicios y productos especialmente seleccionados para ti.</p>
      <div class="cates">
        <img src="\assets\img\inicio.webp" alt="inicio">
        <ion-button expand="block" routerLink="/perfil" class="main-button">Perfil</ion-button>
        <ion-button expand="block" routerLink="/catalogo" class="main-button">Explorar Catalogo</ion-button>
        <ion-button expand="block" routerLink="/servicios" class="main-button">Ver Servicios</ion-button>
        <ion-button expand="block" routerLink="/agendar-servicio" class="main-button">Agendar Servicio</ion-button>
        <ion-button expand="block" routerLink="/chat" class="main-button">Chat de ayuda</ion-button>
      </div>
    </div>
  </ion-content>

