<ion-content>
  <div class="info">
    <h1>Servicios de <span>Tecnología</span></h1>
    <p>Impulsa tu empresa con soluciones tecnológicas de alto impacto.</p>
    <img src="/assets/img/servicios.webp" alt="servis">
    <div class="services">
      <!-- Consultoría y Asesoría en Tecnología -->
      <div class="service">
        <h2>Consultoría y Asesoría</h2>
        <ul>
          <li>Transformación Digital: Moderniza procesos y presencia online.</li>
          <li>Selección de Equipos: Hardware y software a medida.</li>
          <li>Automatización: Optimización de tareas operativas.</li>
        </ul>
      </div>

      <!-- Desarrollo de Software y Aplicaciones -->
      <div class="service">
        <h2>Desarrollo de Software</h2>
        <ul>
          <li>Apps Móviles: Experiencia móvil personalizada.</li>
          <li>Sistemas Web: E-commerce y plataformas de gestión.</li>
          <li>Software a Medida: Soluciones únicas para cada cliente.</li>
        </ul>
      </div>

      <!-- Ciberseguridad -->
      <div class="service">
        <h2>Ciberseguridad</h2>
        <ul>
          <li>Auditorías: Identificación y mitigación de riesgos.</li>
          <li>Seguridad en la Nube: Protección de datos online.</li>
          <li>Privacidad de Datos: Cumplimiento de normativas.</li>
        </ul>
      </div>

      <!-- Mantenimiento y Reparación -->
      <div class="service">
        <h2>Mantenimiento y Soporte</h2>
        <ul>
          <li>Soporte Técnico: Resolución remota y presencial.</li>
          <li>Reparación: Hardware y actualizaciones.</li>
          <li>Mantenimiento Preventivo: Rendimiento óptimo asegurado.</li>
        </ul>
      </div>

      <!-- Capacitación y Cursos -->
      <div class="service">
        <h2>Capacitación</h2>
        <ul>
          <li>Desarrollo Web: Programación y diseño web.</li>
          <li>Ciberseguridad: Prácticas de seguridad digital.</li>
          <li>Transformación Digital: Herramientas para negocios.</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
